# Created by venv; see https://docs.python.org/3/library/venv.html
# Python venv
myenv/
venv/

# Data
data/
url_data/*.csv
Storage/
logs/

# Model files
models/

# DVC cache (optional)
.cache/
/models
